/* burgermenu */
.toggle-btn {
  display: none;
}
@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    margin-left: 5%;
  }

  nav {
    display: none;
  }

  nav.shown {
    /* border-top: 1px solid #000; */
    padding-top: 2rem;
    display: flex;
    /* margin-left: -55%;
    margin-top: -10%; */

    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
/* burgermenu */

body {
  background-color: #272725;
}

.forside {
  position: relative;
  text-align: center;
  font-size: 5rem;
  color: aliceblue;

  font-family: "Staatliches", cursive;
}

h2 {
  color: antiquewhite;
  margin: 2%;
  font-family: "Poppins", sans-serif;
}

.mb_st,
.xd_proto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 2%;
}

.produkter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 2%;
}

.sketch {
  display: flex;
  justify-content: center;
}
.ib_forside {
  margin: 2%;
}
